[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sh/Desktop/virt-manager.desktop]
row=20
col=0

[/home/sh/Desktop/iso]
row=19
col=0

[2024-03-13-19-09-41-00]
row=18
col=0

[7862B45062B4153A]
row=23
col=0

[98DC2FDADC2FB184]
row=24
col=0

[Trash]
row=22
col=0

[/home/sh]
row=21
col=0

